<div class="mx-6">
    <div class="py-6 flex justify-between mt-10 items-center">
        <h1 class="text-2xl font-medium font-serif">Freed</h1>
        <h1 class="text-2xl absolute left-[44%] font-serif">Welcome to FreedChat</h1>
        <div class="flex flex-row  gap-x-10 ml-auto">
            <a href="/register" class="text-2xl underline font-serif">Register</a>
            <a href="/login" class="text-2xl underline font-serif">Login</a>
        </div>
    </div>

    <div class="flex flex-wrap flex-row gap-x-20 gap-y-10 mt-10">
        <div class="flex flex-col gap-y-2 min-w-10 max-w-40">
            <img src="/defaultprofile.jpg" class="">
            <h1 class="">Name: Gibran Rakabuming Raka</h1>
            <h1 class="">Joined Date: 27 Januari 2024</h1>
            <a href="" class="max-w-[8rem] outline outline-1 bg-blue-600 text-white p-2">Chat me here</a>
        </div>
    </div>
</div>    


